<div style="width: 50%, margin: 30px auto">  
   <%= form_with(model: [:admin, @testimony], local: true) do |form| %>  
     <% if @testimony.errors.any? %>  
         <div style="color: red">  
           <h2><%= pluralize(@testimony.errors.count, "error") %>Testimony couldn't be saved</h2>  
           <ul>  
           <% @testimony.errors.each do |error| %>  
             <li><%= error.full_message %></li>  
           <% end %>  
           </ul>  
         </div>  
       <% end %>  
       <div class="field">  
         <%= form.label :image %>  
         <%= form.text_field :image %>  
       </div>  
      
       <div class="field">  
         <%= form.label :title %>  
         <%= form.text_field :title %>  
       </div>  
      
       <div class="field">  
         <%= form.label :body %>  
         <%= form.text_area :body %>  
       </div>  
   
       <div class="action">  
         <%= form.submit%>  
       </div>  
   <% end %> 
</div>