<div class="admin_side_bar">
  <div class= home-logo > <%= link_to(root_path) do%> <%= image_tag "mychildandmelogo.webp", class: "logo-img" %> <% end %> </div>
  <div class="admin-link"><%= link_to "Impact over years", admin_home_index_path %></div>
  <div class="admin-link"><%= link_to "My Blog", admin_blogs_path%></div>
  <div class="admin-link"><%= link_to "Testimonials", admin_testimonies_path %></div>
  <div class="admin-link"><a href="#">Newsletter</a></div>
</div>