
<div class='nav-wrapper'>
  <div class=''>
    <%= link_to(root_path) do%><%= image_tag "mychildandmelogo.webp", class: "company-logo" %> <% end %>
  </div>
  <div class='nav-menu'>
      <div class='m-2'>
        <%= link_to root_path, class: 'text-white text-decoration-none' do %>
          <i class="fas fa-home text-white mx-2"></i>
          <span class='link'>Home</span>
        <% end %>
      </div>

      <div class='m-2'>
         <%= link_to admin_home_index_path, class: "text-white text-decoration-none" do %>
            <i class="fas fa-tachometer-alt mx-2"></i>
            <span class='link'>Dashboard</span>
         <% end %>
      </div>

      <div class='m-2'>
        <%= link_to donate_path, class: 'text-white text-decoration-none' do %>
          <i class="fas fa-donate text-white mx-2"></i>
          <span class='link'>Donate</span>
        <% end %>
      </div>
      
      <div class ='m-2'>
        <%= link_to about_path, class: 'align-middle text-white text-decoration-none' do %>
          <i class="fas fa-info-circle text-white mx-2"></i>
          <span class='link'>About</span>
        <% end %>
      </div>
      <div class='m-2'>
        <%= link_to admin_blogs_path, class: 'text-white text-decoration-none' do %>
          <i class="fas fa-newspaper text-white mx-2"></i>
          <span class='link'>Visit blogs</span>
        <% end %>
      </div>
      <div class='m-2'>
        <%= link_to admin_testimonies_path, class: 'text-white text-decoration-none' do %>
          <i class="fas fa-comment-alt text-white mx-2"></i>
          <span class='link'>Testimonies</span>
        <% end %>
      </div>
  </div>
  <div class='action-logout'>
    <i class="fas fa-sign-out-alt text-white logout"></i>
    <span class='link'><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "text-white text-decoration-none m-2" %></span>
  </div>
</div>




          <%# <%= link_to admin_testimonies_path, class: "nav-link text-white" do %>
          <%# <%= tag.i class: "fa fa-cog" %>
          <%# <span class="ms-2">Testimonies</span>  %>
          <%# <% end %> 
          <%# <%= link_to admin_blogs_path, class: "nav-link text-white" do %>
        <%# <i class="fa fa-first-order"></i><span class="ms-2">My Blogs</span> %>
      <%# <% end %> 
      

      <%# <li> <a href="#" class="nav-link text-white"> <i class="fa fa-bookmark"></i><span class="ms-2">Bookmarks</span> </a> </li> 
    </ul> <hr> %>
    
