
<div class='nav-wrapper'>
  <div class=''>
    <%= link_to(root_path) do%><%= image_tag "mychildandmelogo.webp", class: "company-logo" %> <% end %>
  </div>
  <div class='nav-menu'>
      <%= link_to "Home", root_path, class: " vertical-align-middle text-white text-decoration-none m-3" %>
      <%= link_to "Donate", donate_path, class: "text-white text-decoration-none m-3" %>
      <%= link_to "Dashboard", admin_home_index_path, class: "text-white text-decoration-none m-3"%>
      <%= link_to "About", about_path, class: "text-white text-decoration-none m-3" %>
  </div>
  <div class='action-logout'>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "text-white text-decoration-none mx-4" %>
  </div>
</div>




          <%# <%= link_to admin_testimonies_path, class: "nav-link text-white" do %>
          <%# <%= tag.i class: "fa fa-cog" %>
          <%# <span class="ms-2">Testimonies</span>  %>
          <%# <% end %> 
          <%# <%= link_to admin_blogs_path, class: "nav-link text-white" do %>
        <%# <i class="fa fa-first-order"></i><span class="ms-2">My Blogs</span> %>
      <%# <% end %> 
      

      <%# <li> <a href="#" class="nav-link text-white"> <i class="fa fa-bookmark"></i><span class="ms-2">Bookmarks</span> </a> </li> 
    </ul> <hr> %>
    
