<nav class="nav collapsible">
  <%= link_to(root_path) do %>
    <%= image_tag "mychildandmelogo.webp", class: "logo-img me-2"%>
  <% end %>
  <%= image_tag "hamburger-menu.png", class: "nav__toggler"%>
  <ul class="nav_list collapsible__content">
    <li class="nav__item">
      <%= link_to "Home", root_path, class: "nav__link"%>
    </li>
    <li class="nav__item">
      <%= link_to "About", about_path, class: "nav__link"%>
    </li>
    <li class="nav__item">
      <%= link_to "Blog", blogs_path, class: "nav__link"%>
    </li>
    <li class="nav__item">
      <%= link_to "Donate", donate_path, class: "nav__link" %>
    </li>
    <li class="nav__item">
      <%= link_to "Contact Us", new_message_path, class: "nav__link" %>
    </li>
    <% if user_signed_in? %>
      <% if current_user.is_admin? %>
        <li class="nav__item">
          <%= link_to "Dashboard", admin_home_index_path, class: "nav__link" %>
        </li>
        <% end %>
        <li class="nav__item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav__link" %>
        </li>
      <% else %>
        <li class="nav__item">
          <%= link_to "Sign In", new_user_session_path, class: "nav__link" %>
        </li>
    <% end %>
  </ul>
</nav>
