<div class="home">
  <header class="nav-bar">
   <%= render "navbar"%>
   <div class="menu-icon">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
   </div>

  </header>
  <div class="slider">
   <div>
     <%= image_tag "https://files.globalgiving.org/pfil/14034/pict_large.jpg?m=1368641509000"%>
   </div>
   <div>
     <%= image_tag "https://assets.website-files.com/5f29933071d3e26b9b81edfa/5f677fad7d251ef9c47689a3_prevention%20of%20child%20ab.JPG"%>
   </div>
   <div>
     <%= image_tag "https://www.sos-usa.org/getmedia/90c9727c-71d2-4ed3-998b-e4a1363d4c81/keeping-a-familiy-together.JPG?width=555&height=322&ext=.jpg"%>
   </div>
  </div>
  <div class="description">
    <h4>WELCOME TO MY CHILD & ME INC </h4> <br/>
    <p><strong>HELPING ABANDONNED MOTHERS WITH CHILDREN</strong></p>
    <button STYLE="border: none; padding: 17px; margin: 15px; color: white; background-color: #d13c3f; font-size: 22px; border-radius: 15px">DONATE NOW</button>
  </div>
  <div class="who-we-are">
  <h1 style="color: #d13c3f; text-align: center; padding: 15px">WHO WE ARE</h1>
  <div class="descpt-wwa" style="display:flex; justify-content: center; padding: 25px; gap: 20px">
    <p>
       We help mothers help themselves and their children. 
       My Child & Me, Inc. is a non-profit organization committed to stabilizing families 
       by elevating the quality of life of the abandoned mothers with children 
       living in the Democratic Republic of the Congo. My Child & Me recognizes the devastation of war and sexual 
       violence against women in the Congo and specifically its impact on mothers with children. 
       My Child & Me's mission is
        to provide these abandoned mothers with education, life skills training, and tools to enable them to 
       provide for their families and become contributing members of their society.
    </p>
    <%= image_tag "mwabanaimg.png", class: "descpt-img"%>
  </div>
  </div>
</div>