<div class="home">
  <header class="nav-bar">
   <%= render "navbar"%>
   <div class="menu-icon">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
   </div>

  </header>
  <div class="slider">
   <div>
     <%= image_tag "https://files.globalgiving.org/pfil/14034/pict_large.jpg?m=1368641509000"%>
   </div>
   <div>
     <%= image_tag "https://assets.website-files.com/5f29933071d3e26b9b81edfa/5f677fad7d251ef9c47689a3_prevention%20of%20child%20ab.JPG"%>
   </div>
   <div>
     <%= image_tag "https://www.sos-usa.org/getmedia/90c9727c-71d2-4ed3-998b-e4a1363d4c81/keeping-a-familiy-together.JPG?width=555&height=322&ext=.jpg"%>
   </div>
  </div>
  <div class="description">
    <h4>WELCOME TO MY CHILD & ME INC </h4> <br/>
    <p><strong>HELPING ABANDONNED MOTHERS WITH CHILDREN</strong></p>
    <button STYLE="border: none; padding: 17px; margin: 15px; color: white; background-color: #d13c3f; font-size: 22px; border-radius: 15px">DONATE NOW</button>
  </div>
  <div class="who-we-are">
    <h1 style="color: #d13c3f; text-align: center; padding: 15px">WHO WE ARE</h1>
    <div class="descpt-wwa" style="display:flex; justify-content: center; padding: 25px; gap: 20px">
      <p>
         We help mothers help themselves and their children. 
         My Child & Me, Inc. is a non-profit organization committed to stabilizing families 
         by elevating the quality of life of the abandoned mothers with children 
         living in the Democratic Republic of the Congo. My Child & Me recognizes the devastation of war and sexual 
         violence against women in the Congo and specifically its impact on mothers with children. 
         My Child & Me's mission is
          to provide these abandoned mothers with education, life skills training, and tools to enable them to 
         provide for their families and become contributing members of their society.
      </p>
      <%= image_tag "mwabanaimg.png", class: "descpt-img"%>
    </div>
  </div>
  <div class="impact">
    <h1 style="font-size: 30px; padding: 25px">OUR IMPACT</h1>
    <p>These are our impact over the years</p> <br/><br/>
    <div class="status">
      <div class="mothers">
        <h2>MOTHERS</h2>
        <%= image_tag "mother-icon.png", class: "impact-icon"%>
        <div style="font-size: 26px"><strong>948</strong></div>
      </div>
      <div class="children">
       <h2>CHILDREN</h2>
         <%= image_tag "children-icon.png", class: "impact-icon"%>
         <div style="font-size: 26px"><strong>2,041</strong></div>
      </div>
      <div class="business">
       <h2>BUSINESSES</h2>
          <%= image_tag "business-woman-icon.png", class: "impact-icon"%>
          <div style="font-size: 26px"><strong>68</strong></div>
      </div>
      <div class="workshop">
          <h2>WORKSHOPS</h2>
          <%= image_tag "workshop-icon.png", class: "impact-icon"%>
          <div style="font-size: 26px"><strong>56</strong></div>
      </div>
    </div>
  </div>
  <h1 style="text-align: center; padding: 30px">FACTS</h1>
  <div class="facts-container">
    <div class="women-in-congo">
      <h2>WOMEN IN CONGO </h2>
      <div class="fact-card">
        <div class="fact-img">
          <%= image_tag "go-green-icon.png", style: "width: 100%; height: 100%; object-fit: contain"%>
        </div>
        <p>Violence against women and girls in the Congo are "deep-seated cultural norms"</p>
      </div>
      <div class="fact-card">
        <div class="fact-img" >
          <%= image_tag "go-green-icon.png", style: "width: 100%; height: 100%; object-fit: contain"%>
        </div>
        <p>Congo was called the most dangerous place in the world to be a woman.</p>
      </div>
      <div class="fact-card">
        <div class="fact-img">
          <%= image_tag "go-green-icon.png", style: "width: 100%; height: 100%; object-fit: contain"%>
        </div>
        <div><p>48 women are raped in the Congo every hour.</p></div>
      </div>
    </div>

    <div class="children-in-congo">
      <h2>CHILDREN IN CONGO </h2>
      <div class="fact-card">
        <div class="fact-img">
          <%= image_tag "go-green-icon.png", style: "width: 100%; height: 100%; object-fit: contain"%>
        </div>
        <p>Parents pay for their children to attend elementary and hight school</p>
      </div>
      <div class="fact-card">
        <div class="fact-img">
          <%= image_tag "go-green-icon.png", style: "width: 100%; height: 100%; object-fit: contain"%>
        </div>
        <p>The costs for education are almost as high as the per capital income</p>
      </div>
      <div class="fact-card">
        <div class="fact-img">
          <%= image_tag "go-green-icon.png", style: "width: 100%; height: 100%; object-fit: contain"%>
        </div>
        <p>Only 50% of children age 6 - 11 attend primary school</p>
      </div>
      <div class="fact-card">
        <div class="fact-img">
          <%= image_tag "go-green-icon.png", style: "width: 100%; height: 100%; object-fit: contain"%>
        </div>
        <p>Cities in the Congo may host as many as 20,000 street children</p>
      </div>
    </div>
  </div>
  <div style="text-align: center"><button style="border: none; border-radius: 10px; color: white; padding: 10px; background-color: #d13c3f">DONATE NOW</button></div>
  <section class="testimonial-section">
    <div><h1>TESTIMONIALS</h1></div>
    <div class="testimonial-container">
      <div class="testimonial-box">
        <div class="testimonial-image">
         <%= image_tag "picturetestimonial.png"%>
        </div>
        <div class="testimonial-text">
          <p>"I owe a whole lot to My Child & Me. Without them our family would have been without food or shelter. 
             Today my children are able to go to school, we have a shelter over our 
             heads and food to eat. All thanks to this beautiful organization."
          </p>
          <h4>NABINTU WABIWA</h4>
          <p>BENEFICIARY</p>
        </div>
      </div>
      <div class="testimonial-box">
        <div class="testimonial-image">
         <%= image_tag "picturetestimonial.png"%>
        </div>
        <div class="testimonial-text">
          <p>"I cannot thank the Save Mother and Children team enough for their incredible work. Their support has been invaluable in helping me navigate the challenges of motherhood and ensure my children's health and wellbeing."</p>
          <h4>Jane Doe</h4>
          <p>Mother of Two</p>
        </div>
      </div>
      <div class="testimonial-box">
        <div class="testimonial-image">
         <%= image_tag "picturetestimonial.png"%>
        </div>
        <div class="testimonial-text">
          <p>"The team at Save Mother and Children truly cares about the women and children they serve. Their dedication and commitment to their mission is inspiring and has made a real difference in the lives of countless families."</p>
          <h4>John Smith</h4>
          <p>Father of Three</p>
        </div>
      </div>
      <div class="testimonial-box">
        <div class="testimonial-image">
          <%= image_tag "picturetestimonial.png"%>
        </div>
        <div class="testimonial-text">
          <p>"Thanks to the support and resources provided by Save Mother and Children, I was able to give birth to a healthy baby boy and receive the postpartum care I needed. I will be forever grateful for their help."</p>
          <h4>Maria Rodriguez</h4>
          <p>Expectant Mother</p>
        </div>
      </div>
    </div>
    <div class="testimonial-controls">
      <button class="prev">&lt;</button>
      <button class="next">&gt;</button>
    </div>
  </section>
</div>