<div class="admin-page">
  <div class="column-one">
      <p class="dec-overview">DECEMBER 2023<p>
      <% @impacts.each do |imp| %>
        <div class="overview-last">
          <p>OVERVIEW | LAST 12 MONTHS</p>
          <%= link_to (edit_admin_impact_path(imp)) do%>
            <% image_tag "icons/edit-2.svg" %>
          <% end %>
        </div>
        <div class="overview-cards">
          <div class="overview-card">
            <p class="mother-heading">
            <i class="fas fa-baby"></i>
              MOTHERS
            </p>
            <div class='data'><%= imp.mother %></div>
          </div>
          <div class="overview-card">
            <p class="mother-heading"m >
            <i class="fas fa-tools"></i>
              WORSHOP
            </p>
            <div class='data'><%= imp.workshop %></div>
          </div>
          <div class="overview-card">
            <p class="mother-heading">
              <i class="fas fa-child"></i>
              CHILDREN
            </p>
            <div class='data'>
              <%= imp.children %>
            </div>
          </div>
          <div class="overview-card">
            <p class="mother-heading">
              <i class="fas fa-child"></i>
              BUSINESS
            </p>
            <div class='data'>
              <%= imp.business%>
            </div>
          </div>
        </div>
      <% end %>
      <div class='chart-message-container'>
        <div class='chart'>
          <%# <%= image_tag "1200px-Pushkin_population_history.svg.png", class: "chart-img" %>
          <%= line_chart (Impact.group_by_day(:created_at).sum(:business)).merge(Impact.group_by_day(:created_at).sum(:workshop)).merge(Impact.group_by_day(:created_at).sum(:children)) %>
        </div>
        <div class='message-list'>
          <h5 class="m-4"> <strong> Messages </strong></h5>
          <div class='msg-list'>
            <% if @messages.present? %>
              <% @messages.each do |message| %>
                <%= link_to admin_message_path(message), class: 'message-list-link text-decoration-none' do %>
                    <div class="message-content">
                      <div class='msg m-3'>
                        <div class='icon-message'>
                          <i class="fas fa-user user"></i>
                        </div>
                        <div class='message-preview'>
                          <p><strong><%= message.name %></strong></p>
                          <p><%= message.contact %></p>
                          <!-- Using created_at for the timestamp -->
                          <p class='text-secondary'><em><%= message.created_at.strftime('%B %e, %Y %l:%M %p') %></em></p>
                        </div>
                        
                      </div>
                    </div>
                <% end %>
              <% end %>
            <% else %>
              <div class='msg'>
                <div class='icon-message'>
                  <i class="fas fa-user"></i>
                </div>
                <div class='message-preview'>
                  <p>No messages yet</p>
                </div>
              </div>
          </div> 
          <% end %>
          </div>
      </div>
    </div>
</div>