<div class="admin-page">
  <div class="column-one">
      <h1>Dashboard</h1>
      <p class="dec-overview">DECEMBER 2023<p>
      <% @impacts.each do |imp| %>
        <div class="overview-last">
          <p>OVERVIEW | LAST 12 MONTHS</p>
          <%= link_to (edit_admin_impact_path(imp)) do%>
            <% image_tag "icons/edit-2.svg" %>
          <% end %>
        </div>
        <div class="overview-cards">
          <div class="overview-card">
            <p class="mother-heading">
              MOTHERS
            </p>
            <div class='data'><%= imp.mother %></div>
          </div>
          <div class="overview-card">
            <p class="mother-heading">
              WORSHOP
            </p>
            <div class='data'><%= imp.workshop %></div>
          </div>
           <div class="overview-card">
              <p class="mother-heading">
                CHILDREN
              </p>
              <div class='data'><%= imp.children %></div>
           </div>
           <%# <div class="overview-card"> %>
               <%#<%= imp.children %>
           
        </div>
      <% end %>
      <div class="messages-container">
        <div class="headings">
          <h4>
            Messages
            <%= image_tag('icons/messages.png', alt: 'message', class: 'img-responsive') %>
          </h4>
          <p>See all  </p>
        </div>
        <div class="scrollable-items">
          <% if @messages.present? %>
            <% @messages.each do |message| %>
              <div class="content">
                <div class="header">
                 Sender: <strong> <%= message.name %> </strong>
                </div>
                <p><%= message.contact %></p>
                <%= link_to "show", admin_message_path(message) %>
                <%= button_to message_path(message), method: :delete, style: 'border: none;' do %> 
                  <i class="trash alternate icon"></i> 
                <% end %>
              </div>
            <% end %>
          <% else %>
            <div class="">
              <div class="content">
                <div class="header">
                 Sender: no record
                </div>
                <p>No messages yet</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
  <div class="column-two">
    <div class="column-two-img-container">
      <%= image_tag('Mychildandme1.png', alt: "img", class: "image-clmn-two") %>
    </div>
  </div>
  
  </div>
  </div>
</div>