<div class="admin-home-index">
  <div class="admin-home-head">
    <h1>OUR IMPACT OVER THE YEARS</h1>
  </div>
  <div>
    <% @impacts.each do |imp| %>
    <%= link_to "+ Update statistics", edit_admin_impact_path(imp), style: "color: #007bff;" %>
    
      <%# ++++++++++++++/////============ %>

      <div class="impact-cards">
         <div class="card">
           <h1>
             Mother
           </h1>
           <div class="content">
             <%= imp.mother %>
           </div>
         </div>
         <div class="card">
           <h1>
             Workshop
           </h1>
           <div class="content">
             <%= imp.workshop %>
           </div>
         </div>
         
         <div class="card">
           <h1>
             Children
           </h1>
           <div class="content">
             <%= imp.children %>
           </div>
         </div>
         <div class="card">
           <h1>
             Business
           </h1>
           <div class="content">
             <%= imp.business %>
           </div>
         </div>
      </div>
    <% end %>
  </div>
</div>