<div class="admin-home-index">
  <div class="admin-home-head">
    <h1>OUR IMPACT OVER THE YEARS</h1>
  </div>
  <div>
    <% @impacts.each do |imp| %>
    <%= link_to "+ Update statistics", edit_admin_impact_path(imp), style: "color: #007bff;" %>
    
      <%# ++++++++++++++/////============ %>

      <div class="ui link cards">
         <div class="card">
           <div class="ui small image">
             <%= image_tag "children-icon.png"%>
           </div>
           <div class="content">
             <div class="header"><%= imp.mother %></div>
             <div class="meta">
               <a>Friends</a>
             </div>
           </div>
           <div class="extra content">
             <span class="right floated">
               Joined in 2013
             </span>
             <span>
               <i class="user icon"></i>
               75 Friends
             </span>
           </div>
         </div>
         <div class="card">
           <div class="ui small image">
            <%= image_tag "children-icon.png" %>
           </div>
           <div class="content">
             <div class="header"><%= imp.workshop%></div>
             <div class="meta">
               <span class="date">Coworker</span>
             </div>
           </div>
           <div class="extra content">
             <span class="right floated">
               Joined in 2011
             </span>
             <span>
               <i class="user icon"></i>
               35 Friends
             </span>
           </div>
         </div>
         <div class="card">
           <div class="ui small image">
             <%= image_tag "children-icon.png" %>
           </div>
           <div class="content">
             <div class="header"> <%= imp.children %></div>
             <div class="meta">
               <a>Coworker</a>
             </div>
           </div>
           <div class="extra content">
             <span class="right floated">
               Joined in 2014
             </span>
             <span>
               <i class="user icon"></i>
               151 Friends
             </span>
           </div>
         </div>
      </div>
    <% end %>
  </div>
</div>