<div class="admin-home-index">
  <div class="nav-bar-search">
    <form>
      <input type="search" placeholder="Search...">
      <button type="button">search</button>
    </form>
  </div>
  <div class="admin-home-head">
    <h1>OUR IMPACT OVER THE YEARS</h1>
  </div>
  <div>
    <% @impacts.each do |imp| %>
    <%= link_to "+ Update statistics", edit_admin_impact_path(imp), style: "color: #007bff; padding-bottom: 10px" %><br/>
    
      <%# ++++++++++++++/////============ %>

      <div class="impact-cards">
         <div class="card">
           <h2>
             Mother
           </h2>
           <div class="content">
             <%= imp.mother %>
           </div>
         </div>
         <div class="card">
           <h2>
             Workshop
           </h2>
           <div class="content">
             <%= imp.workshop %>
           </div>
         </div>
         
         <div class="card">
           <h2>
             Children
           </h2>
           <div class="content">
             <%= imp.children %>
           </div>
         </div>
         <div class="card">
           <h2>
             Business
           </h2>
           <div class="content">
             <%= imp.business %>
           </div>
         </div>
      </div>
    <% end %>
  </div>
  <div class="messages-container ui segment">
    <h2>All messages</h2>
    <% if @messages.present? %>
      <% @messages.each do |message| %>
        <div class="ui icon message">
          <i class="inbox icon"></i>
          <div class="content">
            <div class="header">
              <%= message.name %>
            </div>
            <div><%= message.contact %></div>
            <p><%= message.body %></p>
          </div>
          <%= button_to message_path(message), method: :delete, style: 'border: none;' do %> 
            <i class="trash alternate icon"></i> 
          <% end %>
        </div>
        
      <% end %>
    <% else %>
      <div class="ui icon message">
        <i class="inbox icon"></i>
        <div class="content">
          <div class="header">
            Here will be the sender name
          </div>
          <p>No messages yet</p>
        </div>
      </div>
    <% end %>
  </div>
</div>