<p class="notice"><%= notice %></p>

<div class="blogs">
  <h1 style="text-align: center; margin-top: 3.5rem">Blogs</h1>
  <%= link_to "+ Add blog", new_admin_blog_path %>
  <% @blogs.each do |blog| %>
    <div class="blog">
      <div class="blog-head">
        <h5><div class="admin-icon-blog"><i class="fas fa-user-circle"></i></div> <div class="current-user"><%= current_user.email%></div></h5>
        <div>Published: <em><strong><%= blog.created_at.strftime("%B %d, %Y")%></strong></em></div>
      </div>
      <div class="blog-body">
        <div class="blog-text">
          <h2 class="title"><%= blog.title %></h2><br/>
          <div class= blog-title-btns >
            <div><%= link_to "Edit", edit_admin_blog_path(blog), class: "btn-edit" %> <%= image_tag "edit-pen-icon", class: "edit-btn-icon"%></div> 
            <div><%= link_to "See this pub", admin_blog_path(blog), class: "btn-back" %></div>
          </div>
        </div>
      </div>
      
    </div>
  <% end %>
</div>




